$background-color: #1d1d20;
$white-text-color: #cdcdd0;
$icon-color: #6d6d70;
$linear-gradient-background: rgb(195, 180, 93);
$linear-gradient: linear-gradient(
  125deg,
  rgba(195, 180, 93, 1) 0%,
  rgba(186, 172, 98, 1) 16%,
  rgba(146, 138, 119, 1) 71%,
  rgba(168, 162, 168, 1) 100%
);
