$background-color: #1d1d20;
$white-text-color: #cdcdd0;
$icon-color: #6d6d70;
$linear-gradient-background: rgb(190, 213, 65);
$linear-gradient: linear-gradient(
  125deg,
  rgba(190, 213, 65, 1) 0%,
  rgba(207, 73, 174, 1) 100%
);
$main-font: "Montserrat", sans-serif;
$fw-title: 400;
$fw-text: 100;
